<app-main-nav> </app-main-nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url('./../../assets/background3-small.jpg');"></div>
                <div class="user-info">
                    <div class="user-avatar">
                        <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="User">
                    </div>
                    <div class="user-data">
                        <h1>Liên hệ admin</h1>
                    </div>
                </div>
            </aside>
            <nav class="list-group"><a class="list-group-item with-badge" href="#"><i class="fa fa-phone"></i>0927146476</a>
                <a class="list-group-item" href="#"><i class="fa fa-envelope-square"></i>admin@easyaccomod.com</a>
                <a class="list-group-item" href="#"><i class="fa fa-user"></i>Admin</a>
                <a class="list-group-item with-badge" href="#"><i class="fa fa-group"></i>Easy Accomod Co.</a>
            </nav>
        </div>
        <div class="col-lg-8">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h1 class="panel-title">Thông báo</h1>
                    <h2>Nhấn vào thông báo để xem thông tin chi tiết </h2>
                    </div>
                    <div class="panel-body">
                        <div *ngFor="let noti of notifications">
                            <div *ngIf="noti.type==1">
                                <div class="alert alert-success">
                                    <a data-toggle="modal" data-target="#infoModal" (click)="getPostInfo(noti.postID)">
                                    <strong class="default"><i class="fa fa-check"></i></strong> Admin đã phê duyệt bài đăng <strong>{{noti.postName}}</strong> của bạn.
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="noti.type==3">
                                <div class="alert alert-info">
                                    <strong class="default"><i class="fa fa-exclamation"></i></strong> Trạng thái phòng trọ của bài <strong>{{noti.postName}}</strong> đã thay đổi.
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            </div>
                            <div *ngIf="noti.type==2">
                                <div class="alert alert-danger">
                                    <strong class="default"><i class="fa fa-close"></i></strong> Admin đã từ chối bài đăng <strong>{{noti.postName}}</strong> của bạn.
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            </div>
                            <div *ngIf="noti.type==4">
                                <div class="alert alert-success">
                                    <a data-toggle="modal" data-target="#infoModal" (click)="getPostInfo(noti.postID)">
                                    <strong class="default"><i class="fa fa-check"></i></strong> Admin đã phê duyệt gia hạn bài đăng <strong>{{noti.postName}}</strong> của bạn.
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="noti.type==5">
                                <div class="alert alert-danger">
                                    <strong class="default"><i class="fa fa-check"></i></strong> Admin đã từ chối gia hạn bài đăng <strong>{{noti.postName}}</strong> của bạn.
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" 
    aria-labelledby="infoModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="infoModalLabel">
                    Thông tin bài đăng 
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Tiêu đề bài đăng</h2>
                <h1><strong>{{postInfo?.postName}}</strong></h1>
                <h2>Hạn hiển thị của bài đăng</h2>
                <h1><strong>{{reformatDate(postInfo?.expiredTime)}}</strong></h1>
                <h2>Số tiền phải trả</h2>
                <h1><strong>{{postInfo?.postCost - postInfo?.paidAmount}}</strong></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
		</div>
	</div>
</div>